@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  }
  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  }
  html {
    scroll-behavior: smooth;
}

  /* navbar css */
  /* Navigation Container */
   nav {
    background: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    position: fixed;
    
      top: 0;
  
      z-index: 1000; 
    
    
  }
  
  /* Logo */
  label.logo {
    color: white;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    padding-right: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .logoo{
  border-radius: 50px;
width: 60px;
padding-left: 5px;

  }
  
  /* Navigation Links */
  nav ul {
    
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.5s ease;
    
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 5px;
    color: white;
  }
  
  nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
   line-height: 60px;
    transition: background 0.5s;
  }
  
  /* Hover and Active Link */
  a.active, a:hover {
    background: #6fa6c1;
   
  }
  
  /* Hamburger Menu Icon */
  .checkbtn {
    font-size: 30px;
    color: #fff;
    line-height: 80px;
    cursor: pointer;
    display: none;  /* Hidden by default, shown in mobile view */
  }
  
  #check {
    display: none;  /* The checkbox is hidden */
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block; /* Show the hamburger menu */
    }
  
    nav ul {
      position: fixed;
      top: 80px;
      left: -100%;
      height: 100vh;
      width: 100%;
      background: #2c3e50;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      transition: all 0.5s;
    }
  
    nav ul li {
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    a.active, a:hover {
      background: none;
      color: #f3f6f9;
    }
  
    #check:checked ~ ul {
      left: 0;  /* Slide the menu into view when the checkbox is checked */
    }
  }

  section {
    padding-top: 80px; /* Adjust based on your navbar height */
  }
  #home, #about, #projects, #contact {
    min-height: 100vh; /* Make each section fill at least the viewport height */
  }
  

/* Home css */

  .Home-container {
    width: 100%;
    background: linear-gradient(to right, rgba(34, 72, 104, 0.8), rgba(82, 175, 191, 0.8));
    height: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;

    
    
  }

  .main-heading {
    padding-top: 150px;
    font-size: 27px;
    margin-top: 0;
    font-weight: bold;
   

    word-spacing: 1px;
    white-space: nowrap;
  overflow: hidden;
    text-transform: uppercase;
    padding-left: 16px;
   
   


  }
  .main-heading{ animation: animated-text 4s steps(29,end) 2s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;



  }
  @keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(164, 226, 235, 0.75);}
    to{border-right-color: transparent;}
  }
  




  .home-left {
    width: 70%;
    line-height: 40px;
  }
  .home-right{
    width: 30%;
  }

  .profile {
    border-radius: 200px;
    margin-right: 90px;
    margin-top: 50px;
    animation:	 rotate-center 1s  ease-in-out 2s both;
    width: 350px;
    height: 350px;
    
    
  }
 
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  



  .bio{
   font-family: 'Times New Roman', Times, serif;
    word-spacing: 2px;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 15px;
  }

  .project-btn{
width: 150px;
height: 50px;
background-color: #0082e6;
text-align: center;
margin-top: 20px;
margin-left: 30px;
border-radius: 10px;
font-size: larger;
text-transform: uppercase;
  }
  .project-btn:hover{
    background-color: #64de3c;
    color: white;

  }


  /* About Us css */
.about-us{
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  height: 900px;
  background: linear-gradient(to right, rgba(73, 101, 171, 0.8), rgba(205, 211, 120, 0.8),rgb(131, 216, 240));
  
}
  .about-us-heading{
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    

  }
  .about-me-description{
    text-align: center;
    line-height:25px;
    padding-top: 5px;
    font-size:large;

  }
 .bottom-parent{
  width: 100%;
  display: flex;
  justify-content: space-between;

 }
 .left-side{
  width: 50%;

 }
 .right-side{
  width: 50%;
  padding-top: 50px;
 justify-content: center;

 margin-left: 10%;
  
 }

 .bottom-heading{
  font-size: larger;
  padding-top: 50px;
  padding-left: 10px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;

 }
 .botom-left-description{
  font-size: large;
  padding: 8px;
  line-height: 40px;
  word-spacing: 5px;
 }




 .skill {
  margin-bottom: 15px;

}

.skill p {
  margin: 0;
  font-weight: bold;
}

.progress-bar {
  width: 60%;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
}

.progress {
  height: 100%;
  background-color: #32aaae;
  border-radius: 20px 0 0 20px;
  transition: width 0.4s ease;
  width: 90%;
}
#p1{
  width: 90%;
  background-color: #637097;
}

#p2{
  width: 80%;
}
#p3{
  width: 80%;
  background-color: #cecc53;
}

  .right-heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
    word-spacing: 4px;
    margin-bottom: 5px;
  }
  
 /* Projects Css */
 .projects{
  width: 100%;
  height: 100%;
  
 }

 .projects-heading{
  padding-top: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
 }
 .projects-description{
  text-align: center;
  line-height:25px;
  padding-top: 5px;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
 }

 .projects-bottom-parent{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
 }

 .projects-bottom-left-side{
  width: 50%;
 }
 .projects-bottom-heading{
  font-size: larger;
  padding-top: 50px;
  padding-left: 10px;
  font-weight: bold;
  
 }
 .projects-bottom-left-description{
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
  padding: 5px;
  line-height: 40px;
  word-spacing: 5px;
  padding-left: 5px;
 }
.projects-right-side{
  width: 50%;
  padding-top: 50px;
 margin-left: 10%;
}
.button-container{
  display: flex;
  justify-content: center;
  margin-top: 14px;
}
.live-link{
  background-color: #d6c3b8;
  width: 140px;
  height: 50px;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.live-link:hover{
  background-color: rgb(201, 242, 204);
  cursor: pointer;
}
.project-image{
  border-radius: 10px;
 
}
.project-image:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}


/* contact us */

.contact-us{
  width: 100%;
  height: 900px;
  background-color: #c6e9f2;
}
.contact-us-heading{
  padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-us-description{
  text-align: center;
  line-height:25px;
  padding-top: 5px;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}


.form-contact{
  width: 1400px;
  justify-content: center;
  display: flex;
  margin-top:50px;
  font-family: 'Times New Roman', Times, serif;
}
form{
  background-color:#ddd;
  width: 800px;
  height: 700px;
  padding: 10px;
  
  
}
input{
  background-color: rgb(238, 236, 236);
  width: 700px;
  margin-left: 20px;
  height: 60px;
  margin-top: 30px;
  padding: 10px;
 
  margin-bottom: 50px;
  border-radius: 4px;
}
textarea{
  background-color: rgb(238, 236, 236);
  width: 700px;
  margin-left: 20px;
  margin-top:10px;
  border-radius: 4px;
 
  padding: 10px;
  margin-bottom: 40px;
}
.labell{
  font-size: 18px;
  padding-left: 20px;
  

  
  
}
.submit{
  background-color: rgb(30, 97, 116);
  width: 150px;
  height: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  float: right;
  margin-right: 60px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
}


/* footer */
footer{
  background-color: rgb(23, 50, 88);
  width: 100%;
  height: 417px;
}


.parent-footer{
  display: flex;
  justify-content: space-around;
}

.fa-solid {
  color: #ead2d2;

}
.fa-brands{
  color: rgb(248, 243, 243);
  padding: 30px;
}
.social{
  color: rgb(217, 208, 208);
  font-size: 18px;
  padding-top: 40px;
  font-weight: bold;

}
.second-content{
  color: white;
  
}
#akash{
  font-weight: bold;
}

.hec{
  width: 100%;
  margin-top: 20px;
 
}
.footer-heading{
  color: white;
  padding-top: 50px;
  font-size: 28px;
  font-weight: bold;
}
.footer-description{
  color: white;
  padding-top: 15px;
}
hr{
  margin-top: 80px;
}
.after-hr{
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
}
